{
	#global settings: https://caddyserver.com/docs/caddyfile/options
	email engineering@comicrelief.com
}


mapping.bouf.uk {
# Handle mTLS
#	tls /etc/caddy/tls/origin.cert /etc/caddy/tls/origin.key
# Handle CORS 
	@cors {
		method OPTIONS
		path /
	}

	header {
		Access-Control-Allow-Origin "{header.origin}"
		Vary "Origin"
		Access-Control-Allow-Methods "OPTIONS, HEAD, GET, POST"
		Access-Control-Allow-Headers "Content-Type"
		defer
	}

	handle @cors {
		# stop preflight hitting the backend or replying with 500 Internal Server Error
		respond 200{
			close
		}
	}
# Handle route to n8n
	handle_path /* {
		reverse_proxy localhost:1987
	}
# Handle errors
	handle_errors {
        respond "Not found" 404
    }

}